h2 Login user

form(name="login-form",method="post",action="/login").col-md-5.col-md-offset-3
  div.form-group
    label.input-group-addon Username:
    input(type="text",name="username").form-control
  div.form-group
    label.input-group-addon Password:
    input(type="password",name="password").form-control
  div.form-group
    input(type="submit",name="login",value="Login").btn.btn-success